{% extends "layout.html" %}
{% block title %}Visualizing {{ name }} by {{ artist.name }}{% endblock %}
{% block end_body %}{{ visualizer_js|safe }}{% endblock %}
{% block content %}
                <h1>Visualizing {{ name }} by <a href="{{ url_for("visualize", artist=artist.url) }}" title="Visualize {{ artist.name }}">{{ artist.name }}</a></h1>
                <div id="visualizer">{{ visualizer_html|safe }}</div>
                <h2>LastFM Data</h2>
                <ul>
                    <li>LastFM Listeners: {{ listeners }}</li>
                    <li>LastFM Plays: {{ plays }}</li>
                </ul>
                <h2>Tracks</h2>
                <ol>
                {% for track in tracks %}
                    <li>{{ track.name }} <em>(<a href="{{ track.spotify.url }}">Spotify</a>)</em></li>
                {% else %}
                    <li><em>No tracks.</em></li>
                {% endfor %}
                </ol>
{% endblock %}
