{% extends "layout.html" %}
{% block title %}Visualizing {{ slug }}{% endblock %}
{% block content %}
                <h1>Visualizing {{ artist_title }}</h1>
                <h2>LastFM Data</h2>
                <ul>
                    <li>LastFM Listeners: {{ listeners }}</li>
                    <li>LastFM Plays: {{ plays }}</li>
                </ul>
                <h2>Albums</h2>
                <ul>
                {% for album in albums %}
                    <li>{{ album.title }}</li>
                {% else %}
                    <li><em>No albums.</em></li>
                {% endfor %}
                </ul>
{% endblock %}
