{% extends "layout.html" %}
{% block title %}Visualizing {{ name }}{% endblock %}
{% block content %}
                <h1>Visualizing {{ name }}</h1>
                <h2>LastFM Data</h2>
                <ul>
                    <li>LastFM Listeners: {{ listeners }}</li>
                    <li>LastFM Plays: {{ plays }}</li>
                </ul>
                <h2>Albums</h2>
                <ul>
                {% for album in albums %}
                    <li><a href="{{ url_for("visualize", artist=artist_query, album=album.album_query) }}" title="Visualize {{ album.name }} by {{ name }}">{{ album.name }}</a> <em>(<a href="{{ album.spotify.url }}">Spotify</a>)</em></li>
                {% else %}
                    <li><em>No albums.</em></li>
                {% endfor %}
                </ul>
{% endblock %}
